In [7]:
import numpy as np
import pandas as pd
from bokeh.io import output_file, show, curdoc
from bokeh.plotting import figure, ColumnDataSource
from bokeh.models import CustomJS, HoverTool, Slider, Select, CategoricalColorMapper
from bokeh.palettes import Spectral6, Viridis256, Plasma256
from bokeh.layouts import widgetbox, row, column, gridplot

In [8]:
df_nba = pd.read_csv('nba_season_PG.csv')
df_nba = df_nba.drop(df_nba.columns[0], axis=1)

In [3]:
df_nba.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FTA_PG,ORB_PG,DRB_PG,TRB_PG,AST_PG,STL_PG,BLK_PG,TOV_PG,PF_PG,PTS_PG
0,1950.0,Curly Armstrong,G-F,31.0,FTW,63.0,NaN,NaN,NaN,0.368,...,3.8,NaN,NaN,NaN,2.8,NaN,NaN,NaN,3.4,7.3
1,1950.0,Cliff Barker,SG,29.0,INO,49.0,NaN,NaN,NaN,0.435,...,2.2,NaN,NaN,NaN,2.2,NaN,NaN,NaN,2.0,5.7
2,1950.0,Leo Barnhorst,SF,25.0,CHS,67.0,NaN,NaN,NaN,0.394,...,1.9,NaN,NaN,NaN,2.1,NaN,NaN,NaN,2.9,6.5
3,1950.0,Ed Bartels,F,24.0,TOT,15.0,NaN,NaN,NaN,0.312,...,2.3,NaN,NaN,NaN,1.3,NaN,NaN,NaN,1.9,4.2
4,1950.0,Ed Bartels,F,24.0,DNN,13.0,NaN,NaN,NaN,0.308,...,2.4,NaN,NaN,NaN,1.5,NaN,NaN,NaN,2.1,4.5

In [9]:
df_nba = df_nba.loc[df_nba['Pos'].notna()]
df_nba['Year'] = df_nba['Year'].astype(int)
df_nba['Pos'] = df_nba['Pos'].apply(lambda x: x[-1])
df_nba = df_nba.sort_values(by=['Player', 'Year'])

In [250]:
np.where(df_nba['Age'].isna())
#df_nba.isna().sum()
#(df_nba['STL']/df_nba['G']).round(1)
#abc=df_nba.copy()
#abc.set_index('Year')

(array([ 2495,  2496,  2497,  2498,  6847,  8412, 13654, 17195]),)

In [251]:
abc=df_nba.copy()
abc.head(10)
#abc.loc[729:739]
#abc=abc.reset_index()
#abc=abc.set_index('Player')
#abc.loc[729:739]
#abc.loc['Michael Jordan']
#name = 'Curly Armstrong'
#abc[abc['Player'].str.match(name)]

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
8035,1986,A.C. Green,F,22.0,LAL,82.0,1.0,1542.0,11.8,0.564,...,0.611,160.0,221.0,381.0,54.0,49.0,49.0,99.0,229.0,521.0
8420,1987,A.C. Green,F,23.0,LAL,79.0,72.0,2240.0,15.7,0.599,...,0.780,210.0,405.0,615.0,84.0,70.0,80.0,102.0,171.0,852.0
8807,1988,A.C. Green,F,24.0,LAL,82.0,64.0,2636.0,14.5,0.581,...,0.773,245.0,465.0,710.0,93.0,87.0,45.0,120.0,204.0,937.0
9242,1989,A.C. Green,F,25.0,LAL,82.0,82.0,2510.0,17.8,0.594,...,0.786,258.0,481.0,739.0,103.0,94.0,55.0,119.0,172.0,1088.0
9688,1990,A.C. Green,F,26.0,LAL,82.0,82.0,2709.0,14.7,0.548,...,0.751,262.0,450.0,712.0,90.0,66.0,50.0,116.0,207.0,1061.0
10166,1991,A.C. Green,F,27.0,LAL,82.0,21.0,2164.0,13.8,0.556,...,0.738,201.0,315.0,516.0,71.0,59.0,23.0,99.0,117.0,750.0
10617,1992,A.C. Green,F,28.0,LAL,82.0,53.0,2902.0,16.7,0.556,...,0.744,306.0,456.0,762.0,117.0,91.0,36.0,111.0,141.0,1116.0
11060,1993,A.C. Green,F,29.0,LAL,82.0,55.0,2819.0,16.3,0.603,...,0.739,287.0,424.0,711.0,116.0,88.0,39.0,116.0,149.0,1051.0
11529,1994,A.C. Green,F,30.0,PHO,82.0,55.0,2825.0,17.0,0.555,...,0.735,275.0,478.0,753.0,137.0,70.0,38.0,100.0,142.0,1204.0
11999,1995,A.C. Green,F,31.0,PHO,82.0,52.0,2687.0,14.2,0.596,...,0.732,194.0,475.0,669.0,127.0,55.0,31.0,114.0,146.0,916.0

In [15]:
source = ColumnDataSource(data={
        'Year'   : df_nba[df_nba['Player'].str.match('Michael Jordan')].Year,
        'y'      : df_nba[df_nba['Player'].str.match('Michael Jordan')].PTS,
        'Player' : df_nba[df_nba['Player'].str.match('Michael Jordan')].Player,
        'Pos'    : df_nba[df_nba['Player'].str.match('Michael Jordan')].Pos,
        'Tm'    : df_nba[df_nba['Player'].str.match('Michael Jordan')].Tm
    })
# set up groups for colors
Tm_list = df_nba.Tm.unique().tolist()
Pos_list = df_nba.Pos.unique().tolist()
Player_list = df_nba.Player.unique().tolist()

color_mapper = CategoricalColorMapper(factors=Tm_list, palette=Plasma256)
plot = figure()
plot.circle(x='Year', y='y', fill_alpha=0.8, size=12, source=source,
            color=dict(field='Tm', transform=color_mapper), legend='Tm')
plot.title.text = 'Seasonal data of %s' % 'Michael Jordan'
plot.title.text_font_size = '20pt'

plot.xaxis.axis_label = 'Year'
plot.xaxis.axis_label_text_font_size = "16pt"
plot.yaxis.axis_label_text_font_size = "16pt"
plot.x_range.start = min(source.data['Year'])-2
plot.x_range.end = max(source.data['Year'])+2
plot.y_range.start = min(source.data['y'])*0.95
plot.y_range.end = max(source.data['y'])*1.05
show(plot)

In [6]:
def update_plot(attr, old, new):
    #plr = slider.value
    plr = plr_select.value
    print(plr)
    y = y_select.value
    print(y)
    #plot.xaxis.axis_label = x
    plot.yaxis.axis_label = y
    new_data = {
        'Year' : df_nba[df_nba['Player'].str.match(plr)].Year,
        'y' : df_nba[df_nba['Player'].str.match(plr)][y],
        'Player' : df_nba[df_nba['Player'].str.match(plr)].Player,
        'Pos' : df_nba[df_nba['Player'].str.match(plr)].Pos,
        'Tm' : df_nba[df_nba['Player'].str.match(plr)].Tm
    }
    # Assign new_data to source.data
    source.data = new_data
    # Set the range of all axes
    plot.x_range.start = min(source.data['Year'])-2
    plot.x_range.end = max(source.data['Year'])+2
    plot.y_range.start = min(source.data['y'])*0.95
    plot.y_range.end = max(source.data['y'])*1.05
    # Add title to plot
    plot.title.text = 'Seasonal data of %s' % plr

#slider = Slider(start=1950, end=2016, step=1, value=1950, title='Year')
#slider.on_change('value', update_plot)

plr_select = Select(
    options=Player_list,
    value='Michael Jordan',
    title='Select a player'
)
plr_select.on_change('value', update_plot)

y_select = Select(
    options=['PTS', 'PTS_PG', 'AST', 'AST_PG', 'TRB', 'TRB_PG', 'BLK', 'BLK_PG', 'STL', 'STL_PG'],
    value='PTS',
    title='y-axis data'
)
y_select.on_change('value', update_plot)

layout = row(widgetbox(plr_select, y_select), plot)
curdoc().add_root(layout)
#show(layout)
#output_file('hover_glyph.html')